{% extends "base.html" %}

<!--  -->
{% block styles %}
<link href="/dialog_error.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="panel">

<div class="dialog">
    <div class="content">
        <span
            >确认删除课程计划{{ record.semester }}{{ record.cou_no}}({{ record.cou_name }})?</span
        >
    </div>
    <div class="footer">
        <div class="btn">
            <form
                action="/action/course/delete/{{record.sn}}"
                method="post"
            >
                <input type="submit" value="删除" />
            </form>
        </div>
        <div class="btn">
            <a href="/plant">返回</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

